<h1>Blog#index</h1>
<p>Find me in app/views/blog/index.html.erb</p>
<% @blogs.each do |blog| %>
<div class="blog">
<h2><%= blog.title %></h2>
<p><%= truncate(blog.description) %><br />
<a href="/blog/<%= blog.id %>">さらに詳しく</a>
</p>
</div>
<% end %>